<a href="https://colab.research.google.com/github/lalopezabc123/csv/blob/main/Actividad%20pr%C3%A1ctica%20%23%204%2016-12-2022-R_01_UNI_intro_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**1.	Cargar librerias y Archivos:**###

In [161]:
library("tidyverse")

In [162]:
  library("readxl")

In [163]:
library("lubridate")

In [164]:
wide_monthly_tdiff<- read.csv("https://raw.githubusercontent.com/lalopezabc123/csv/main/wide_monthly_tdiff.csv")

In [165]:
wide_horses_data  <- read.csv("https://raw.githubusercontent.com/lalopezabc123/csv/main/wide-horses.csv")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://raw.githubusercontent.com/lalopezabc123/csv/main/wide-horses.csv'”

In [173]:
print(wide_horses_data)

  Country Horses..per.100.people..in.1819 Horses..per.100.people..in.1820
1      UK                              10                              10
2      US                               9                              10
  Horses..per.100.people..in.1821 Horses..per.100.people..in.1822
1                              11                              12
2                              11                              11

In [166]:
class(wide_horses_data)

[1] "data.frame"

In [167]:
class(wide_monthly_tdiff)

[1] "data.frame"

In [168]:
print(wide_monthly_tdiff)

   month bradford.tdiff heathrow.tdiff oxford.tdiff stornoway.tdiff
1      1       4.972897       5.740000     5.281212        4.921986
2      2       5.167593       6.232857     5.894545        5.243357
3      3       6.237037       7.657143     7.555152        5.700699
4      4       7.325234       8.746377     8.820122        6.239437
5      5       8.272115       9.221739     9.526220        6.420979
6      6       8.223810       9.518841     9.618902        6.136364
7      7       7.748148       9.488406     9.549390        5.768056
8      8       7.550962       9.237681     9.243902        5.819444
9      9       7.018868       8.568116     8.629268        5.770833
10    10       6.146296       7.340580     7.257927        5.595139
11    11       5.197248       6.265217     5.957317        5.250000
12    12       4.911009       5.711594     5.287730        5.003472

###***Función Gather***###

In [169]:
wide_monthly_tdiff <- wide_monthly_tdiff %>%
  gather(location,tidiff,2:5)
  str(wide_monthly_tdiff)

'data.frame':	48 obs. of  3 variables:
 $ month   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ location: chr  "bradford.tdiff" "bradford.tdiff" "bradford.tdiff" "bradford.tdiff" ...
 $ tidiff  : num  4.97 5.17 6.24 7.33 8.27 ...

In [172]:
print(wide_monthly_tdiff)

   month        location   tidiff
1      1  bradford.tdiff 4.972897
2      2  bradford.tdiff 5.167593
3      3  bradford.tdiff 6.237037
4      4  bradford.tdiff 7.325234
5      5  bradford.tdiff 8.272115
6      6  bradford.tdiff 8.223810
7      7  bradford.tdiff 7.748148
8      8  bradford.tdiff 7.550962
9      9  bradford.tdiff 7.018868
10    10  bradford.tdiff 6.146296
11    11  bradford.tdiff 5.197248
12    12  bradford.tdiff 4.911009
13     1  heathrow.tdiff 5.740000
14     2  heathrow.tdiff 6.232857
15     3  heathrow.tdiff 7.657143
16     4  heathrow.tdiff 8.746377
17     5  heathrow.tdiff 9.221739
18     6  heathrow.tdiff 9.518841
19     7  heathrow.tdiff 9.488406
20     8  heathrow.tdiff 9.237681
21     9  heathrow.tdiff 8.568116
22    10  heathrow.tdiff 7.340580
23    11  heathrow.tdiff 6.265217
24    12  heathrow.tdiff 5.711594
25     1    oxford.tdiff 5.281212
26     2    oxford.tdiff 5.894545
27     3    oxford.tdiff 7.555152
28     4    oxford.tdiff 8.820122
29     5    oxford.tdiff 9.526220
30     6    oxford.tdiff 9.618902
31     7    oxford.tdiff 9.549390
32     8    oxford.tdiff 9.243902
33     9    oxford.tdiff 8.629268
34    10    oxford.tdiff 7.257927
35    11    oxford.tdiff 5.957317
36    12    oxford.tdiff 5.287730
37     1 stornoway.tdiff 4.921986
38     2 stornoway.tdiff 5.243357
39     3 stornoway.tdiff 5.700699
40     4 stornoway.tdiff 6.239437
41     5 stornoway.tdiff 6.420979
42     6 stornoway.tdiff 6.136364
43     7 stornoway.tdiff 5.768056
44     8 stornoway.tdiff 5.819444
45     9 stornoway.tdiff 5.770833
46    10 stornoway.tdiff 5.595139
47    11 stornoway.tdiff 5.250000
48    12 stornoway.tdiff 5.003472

###**2.	Transformar set de datos de ancho a largo (método 2)**###

In [170]:
wide_monthly_tdiff %>%
  gather(location, tdiff,
         bradford.tdiff:stornoway.tdiff)

ERROR: ignored

###**3.	Transformar set de datos de ancho a largo (método 3)**###

In [171]:
wide_monthly_tdiff %>%
  gather(location, tdiff,
contains("tdiff"))

   month location        tidiff
1   1    bradford.tdiff  4.972897
2   2    bradford.tdiff  5.167593
3   3    bradford.tdiff  6.237037
4   4    bradford.tdiff  7.325234
5   5    bradford.tdiff  8.272115
6   6    bradford.tdiff  8.223810
7   7    bradford.tdiff  7.748148
8   8    bradford.tdiff  7.550962
9   9    bradford.tdiff  7.018868
10 10    bradford.tdiff  6.146296
11 11    bradford.tdiff  5.197248
12 12    bradford.tdiff  4.911009
13  1    heathrow.tdiff  5.740000
14  2    heathrow.tdiff  6.232857
15  3    heathrow.tdiff  7.657143
16  4    heathrow.tdiff  8.746377
17  5    heathrow.tdiff  9.221739
18  6    heathrow.tdiff  9.518841
19  7    heathrow.tdiff  9.488406
20  8    heathrow.tdiff  9.237681
21  9    heathrow.tdiff  8.568116
22 10    heathrow.tdiff  7.340580
23 11    heathrow.tdiff  6.265217
24 12    heathrow.tdiff  5.711594
25  1    oxford.tdiff    5.281212
26  2    oxford.tdiff    5.894545
27  3    oxford.tdiff    7.555152
28  4    oxford.tdiff    8.820122
29  5    oxford.tdiff    9.526220
30  6    oxford.tdiff    9.618902
31  7    oxford.tdiff    9.549390
32  8    oxford.tdiff    9.243902
33  9    oxford.tdiff    8.629268
34 10    oxford.tdiff    7.257927
35 11    oxford.tdiff    5.957317
36 12    oxford.tdiff    5.287730
37  1    stornoway.tdiff 4.921986
38  2    stornoway.tdiff 5.243357
39  3    stornoway.tdiff 5.700699
40  4    stornoway.tdiff 6.239437
41  5    stornoway.tdiff 6.420979
42  6    stornoway.tdiff 6.136364
43  7    stornoway.tdiff 5.768056
44  8    stornoway.tdiff 5.819444
45  9    stornoway.tdiff 5.770833
46 10    stornoway.tdiff 5.595139
47 11    stornoway.tdiff 5.250000
48 12    stornoway.tdiff 5.003472

###**4.	Utilizer el archive wide-horses.csv y agrupar todas las variables que contengan la frase “per 100 people” . cargue archivo wide_hoserses.csv**###