<a href="https://colab.research.google.com/github/lalopezabc123/csv/blob/main/Repaso%2016-12-2022-R_01_UNI_intro_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Repaso con R**###

In [48]:
library("tidyverse")

In [47]:
library("readxl")
library("lubridate")
library("devtools")

In [49]:
wide_monthly_tdiff <- read.csv("https://raw.githubusercontent.com/lalopezabc123/csv/main/wide_monthly_tdiff.csv")

In [50]:
str(wide_monthly_tdiff)

'data.frame':	12 obs. of  5 variables:
 $ month          : int  1 2 3 4 5 6 7 8 9 10 ...
 $ bradford.tdiff : num  4.97 5.17 6.24 7.33 8.27 ...
 $ heathrow.tdiff : num  5.74 6.23 7.66 8.75 9.22 ...
 $ oxford.tdiff   : num  5.28 5.89 7.56 8.82 9.53 ...
 $ stornoway.tdiff: num  4.92 5.24 5.7 6.24 6.42 ...

In [51]:
head(wide_monthly_tdiff)

  month bradford.tdiff heathrow.tdiff oxford.tdiff stornoway.tdiff
1 1     4.972897       5.740000       5.281212     4.921986
2 2     5.167593       6.232857       5.894545     5.243357
3 3     6.237037       7.657143       7.555152     5.700699
4 4     7.325234       8.746377       8.820122     6.239437
5 5     8.272115       9.221739       9.526220     6.420979
6 6     8.223810       9.518841       9.618902     6.136364

In [52]:
wide_monthly_tdiff$bradford.tdiff

 [1] 4.972897 5.167593 6.237037 7.325234 8.272115 8.223810 7.748148 7.550962
 [9] 7.018868 6.146296 5.197248 4.911009

In [68]:
wide_monthly_tdiff %>%
  gather(location, tdiff)

   location tdiff
1  month     1
2  month     2
3  month     3
4  month     4
5  month     5
6  month     6
7  month     7
8  month     8
9  month     9
10 month    10
11 month    11
12 month    12
13 month     1
14 month     2
15 month     3
16 month     4
17 month     5
18 month     6
19 month     7
20 month     8
21 month     9
22 month    10
23 month    11
24 month    12
25 month     1
26 month     2
27 month     3
28 month     4
29 month     5
30 month     6
31 month     7
32 month     8
33 month     9
34 month    10
35 month    11
36 month    12
37 month     1
38 month     2
39 month     3
40 month     4
41 month     5
42 month     6
43 month     7
44 month     8
45 month     9
46 month    10
47 month    11
48 month    12